header {
  background-image: url("../img/glavna-slika.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 875px;
  /* display: flex;

}

.tos-header {
  /* background-image: url("../img/hero-o4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
  
  /* display: flex; */

}
.color-bg-header {
  background-color: rgb(28, 28, 28);
  background-color: linear-gradient(
    180deg,
    rgba(28, 28, 28, 1) 0%,
    rgba(34, 34, 34, 1) 66%,
    rgba(42, 46, 50, 1) 100%
  );
}
