header {
  background-image: url("../img/glavna-slika.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 875px;
  /* display: flex;

}

.tos-header {
  /* background-image: url("../img/hero-o4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
  
  /* display: flex; */

}
/* .color-bg-header {
  background-color: rgb(28, 28, 28);
  background-color: linear-gradient(
    180deg,
    rgba(28, 28, 28, 1) 0%,
    rgba(34, 34, 34, 1) 66%,
    rgba(42, 46, 50, 1) 100%
  );
} */

li.nav-item{
  position: relative;
  text-decoration: none;
  padding-bottom: 2px;
}

/* Active */
a.nav-link.active{
  position: relative;
  border-bottom: 2px solid #ad1d94;
  bottom: 2px;
}
a.nav-link.active::before{
  transform: none !important;
  height: 0;
  
}

a.nav-link{
  position: relative;
  text-decoration: none;
  padding-bottom: 2px;
}

a.nav-link::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 2px;
  border-radius: 4px;
  background-color: #ad1d94;
  bottom: 0;
  left: 5%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}





