/* search Navigation */
a,
a:link,
a:visited {
  text-decoration: none;
}
.search-nav-padding {
  justify-content: normal !important;
}
.search-navigation {
  font-size: 14px;
  color: black;
}
/* .top-bar .search-field {
  margin-left: 6%;
} */
.navigation-padding {
  padding: 16px;
}
.navigation-under-search {
  font-weight: bold;
  color: black;
}
.logo-img-navigation {
  height: 37.5px;
}
/* additional */
.navbar-search {
  color: white;
}
.navbar-search:hover {
  color: rgb(228, 228, 228);
}
#navbarNavDropdown {
  justify-content: center;
}
