@import url("navigation.css");
@import url("header.css");
@import url("card.css");
@import url("faq.css");
@import url("reviews.css");
@import url("subscribe.css");
@import url("footer.css");

body {
  font-family: "Roboto", sans-serif;
}

.bg-w {
  background-color: #f7fafc;
}

.bg-b {
  background-color: #000;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.footer-list-title {
  font-size: 1.25rem;
}

/*Animation on hover*/
.sparkle {
  max-width: 10em;
  color: #fff;
  margin: auto auto;
}
.sparkle:hover {
  cursor: pointer;
}
.u-hover--sparkle {
  box-sizing: border-box;
  position: relative;
  padding: 0.75em;
}
.u-hover--sparkle::before, .u-hover--sparkle::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.u-hover--sparkle::before {
  border-top: 0.2em solid #000;
  border-bottom: 0.2em solid #000;
  transform: scale3d(0, 1, 1);
}
.u-hover--sparkle::after {
  border-left: 0.2em solid #000;
  border-right: 0.2em solid #000;
  transform: scale3d(1, 0, 1);
}
.u-hover--sparkle:hover::before, .u-hover--sparkle:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 500ms;
}


/*******************************************
RESPONSIVE
*******************************************/

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .top-bar .search-field {
    margin-left: 0;
    width: 47% !important;
  }
  /* Review Container */
  .review-container {
    max-width: 100%;
  }
  /* TOS */
  .tos-header {
    height: 100%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .number-row {
    padding-bottom: 25px;
  }
}
/* X-Small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  /*** Navigation ***/
  .navbar-brand {
    margin-right: 0;
  }
  .navbar-brand.navbar-brand-up {
    display: none;
  }
  /*** Header ***/
  header .header-title {
    font-size: 1.6rem;
  }
  header .header-par {
    font-size: 1rem;
  }
  .server-title {
    font-size: 1.4rem;
  }
  .cs-item {
    padding: 5px 15px;
  }
  .number-row {
    display: block !important;
  }
  /*** FAQ ***/

  /* Review */
  .rev-cc-w {
    width: 100%;
  }
}
