.subscribe-card-border{ 
  border: 4px solid #0d6efd;
  border-radius: 9px;
}

.sub-green-icon{
  color: #3BDE83;
  margin-right: 10px;
  font-size: 1.5rem;
}

.sub-price-table {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  font-weight: 600;
  font-size: 65px;
}

.sub-currency {
  align-self: flex-start;
  font-size: 30px
}

.sub-integer-part {
  line-height: 0.8;
}

.sub-period {
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
  width: 100%;
  color: #54595f;
}

.how-works-part h3 {
  color: #000;
  font-weight: 600;
}

.how-works-part p {
  color: #000;
  font-weight: 300;
}

.accordion-button {
  font-weight: 600;
}

.accordion-flush .accordion-collapse {
  text-align: initial;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
  color: #6c757d;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}